/* .card-form__block {
  display: flex;
}

.card-form__block-item {
  flex-grow: 1;
} */

.card-form__icon-column {
  max-width: 30px;
}

.card-form__delete-btn {
  width: fit-content;
  border: none;
  background-color: #fff;
  height: 100%;
}

.full-card__section {
  margin-bottom: 20px;
}

.full-card__card-author {
  font-weight: bold;
}

.card-form__card-author-container {
  text-align: right;
}

.full-card-form__save-cancel-btns-container {
  display: flex;
  vertical-align: middle;
}

.full-card-form__delete-btn-container {
  vertical-align: middle;
  text-align: right;
}

.textarea-autosize {
  resize: none;
  overflow: hidden;
  font-size: 20px;
  font-weight: 600;

  /* margin-bottom: 0.5rem; */
}

.textarea-autosize:disabled {
  background-color: #fff;
  border: 1px solid #fff;
}
.textarea-autosize.textarea__text {
  font-size: 20px;
  font-weight: 600;

  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
}

.textarea-autosize-btn {
  width: fit-content;
  margin-right: 10px;
  flex-shrink: 2;
}
