.spinner-container {
  min-height: 40vh;
}

.full-card__section {
  margin-bottom: 20px;
}

.full-card__list-author-row > .col {
  padding-left: 0px;
  padding-right: 0px;
}

.full-card__card-author-container {
  text-align: right;
}

.full-card__card-author {
  font-weight: bold;
}

.full-card__icon-column {
  max-width: 30px;
}

.full-card__icon-span {
  display: flex;
  justify-content: right;
  vertical-align: middle;
  padding-top: 0px;
}

.full-card__icon {
  width: 22px;
  height: 22px;
  color: var(--ds-text);
  opacity: 0.85;
}

.full-card__save-cancel-btns-container {
  display: flex;
  vertical-align: middle;
}

.full-card__delete-btn-container {
  vertical-align: middle;
  text-align: right;
}

.full-card__delete-btn-container > .full-card__delete-btn {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-top: 0px;
}

.full-card__delete-btn {
  height: 100%;
}

.full-card__delete-icon {
  width: 22px;
  height: 22px;
  color: var(--ds-text);
  opacity: 0.85;
}

.full-card__delete-icon:hover {
  color: red;
}
.textarea-autosize {
  resize: none;
  overflow: hidden;
  font-size: 20px;
  font-weight: 600;
}

.textarea-autosize:disabled {
  background-color: #fff;
  border: 1px solid #fff;
}

.full-card__card-title-textarea {
  font-size: 18px;
}

.textarea-autosize.full-card__card-text-textarea {
  font-size: 20px;
  font-weight: 600;

  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
}

.textarea-autosize-btn {
  width: fit-content;
  margin-right: 10px;
  flex-shrink: 2;
}
