.comments__row {
  margin-bottom: 25px;
}

.full-card__icon-column {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.comments__author-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: darkblue;
  border-radius: 50%;
}

.comments__add-comment-col {
  margin: 0;
  padding: 0;
}

.comments__add-comment-col .textarea-autosize {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 10px;
}
