.login-form {
  margin: 25px 25px;
  text-align: center;
}

.login-form label {
  margin-bottom: 20px;
  font-weight: 600;
  padding-bottom: 2px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.login-form .btn {
  margin-top: 10px;
  text-transform: uppercase;
}
