/* .card {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: white;
} */

.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 #091e4240;
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
}

.card-list-card-body {
  overflow: hidden;
  padding: 6px 8px 2px;
  position: relative;
}

.card-title {
  word-wrap: break-word;
  clear: both;
  color: var(--ds-text);
  display: block;
  margin: 0 0 4px;
  overflow: hidden;
  text-decoration: none;
}

.edit-icon {
  width: 30px;
  height: 30px;
  padding: 4px 4px 6px 6px;
  background-color: #ebecf0;
  color: var(--ds-text);
  position: absolute;
  right: 3px;
  top: 3px;
  border-radius: 3px;
  opacity: 0.8;
}
.edit-icon.hidden {
  opacity: 0;
  pointer-events: none;
}

.card-footer {
  border: none;
  background: none;
}

.card-badge-icon::before {
  content: '🧾';
}
