.navbar {
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 1px 5px 0.5px gray;
  flex: 0 1 auto;
}

.navbar__brand {
  font-weight: bold;
}

.navbar__current-user-name {
  font-weight: bold;
}

.navbar__logout-control {
  cursor: pointer;
}

.navbar__logout-control:hover {
  color: var(--bs-blue);
}
