.cards-list__wrapper {
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  margin-right: 8px;
  vertical-align: top;
  white-space: nowrap;
  width: 272px;
}

.cards-list {
  background-color: #ebecf0 !important;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  width: 100% !important;
}

.cards-list__header {
  flex: 0 0 auto;
  min-height: 20px;
  padding: 10px 12px;
  position: relative;
  border: none;
}

.cards-list__column-name {
  overflow-wrap: break-word;
  height: fit-content;
}

.card-list__column-name-input {
  resize: none;
  overflow: hidden;
}

.cards-list__body {
  flex: 1 1 auto;
  margin: 0 4px;
  min-height: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 4px;
  z-index: 1;
}

.cards-list__footer {
  flex: 0 0 auto;
  min-height: 20px;
  padding: 10px 12px;
  position: relative;
  border: none;
}

.cards-list__body .textarea-autosize {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 4px;
}

.cards-list__body .textarea-autosize-btns.row > div.col {
  padding: 0;
}
