.sign-in-modal {
  margin: 25px;
  padding: 25px;
}

.sign-in-modal form {
  text-align: center;
}

.sign-in-modal label {
  margin-bottom: 20px;
  font-weight: 600;
  padding-bottom: 2px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

.sign-in-modal .btn {
  margin-top: 10px;
  text-transform: uppercase;
}
